body {
	background:#ffffff;
	font: 14px/1.95em "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	border:1px solid #666;
}

html {
	border:5px solid #ffffff;
	border-left:10px solid #ffffff;
	border-right:10px solid #ffffff;
}

* {
	margin:0;
	padding:0;
	outline:none;
}

table {
	width:100%;
	padding:5px;
	border:1px solid #eee;
}

th {
	color:#666;
	padding:5px;
}

td {
	padding:5px;
	text-align:center;
}

h1
{
	padding-top: 5px;
	padding-bottom: 20px;
}

h2
{
	padding-bottom: 10px;
}

#links{
	text-align:right;
}

ul
{
	padding:0;
	font-weight:bold;
	margin:0; 
}

ul li {
	display:inline;
	list-style:none;
}

ul li a {
	padding:3px 5px;
	text-decoration: none;
}